PORT=8000
URL=http://localhost:8000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=coloca_a_senha_do_banco_aqui_animal
POSTGRES_DB=coloca_o_nome_do_banco_aqui_animal
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET=your_jwt_secret_key
GROQ_API_KEY=your_groq_api_key
CORS_ORIGIN=http://localhost:3000
